<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">

        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>It is basic weather-app, you can get weather of any specific area.</p>
        <img class="portrait" src="/images/shravan.jpg">
        </div>
        
        
        {{>footer}}
    </body>
</html>